<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันบัญชีนี้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="tertiary" lines="full" class="ion-padding-vertical">
    <ion-col class="ion-no-padding">
      <ion-label color="medium">
        <h2 class="line-height2">กระเป๋าที่ถอนออก</h2>
      </ion-label>
      <ion-label>
        <b>กระเป๋า <small>USD </small></b>
      </ion-label>
    </ion-col>
  </ion-item>

  <ion-card color="tertiary">
    <ion-item color="tertiary" lines="full">
      <ion-col class="ion-no-padding">
        <ion-label color="medium">
          <h2 class="line-height2">บัญชีที่รับเงิน</h2>
        </ion-label>
        <ion-label>
          <h2><b>092236478</b></h2>
          <h2><b>พร้อมเพย์</b></h2>
        </ion-label>
      </ion-col>
    </ion-item>

    <ion-item color="tertiary" lines="full">
      <ion-col class="ion-no-padding">
        <ion-label color="medium">
          <h2 class="line-height2">ชื่อบัญชี</h2>
        </ion-label>
        <ion-label>
          <h2><b>อานนท์ บางสาน</b></h2>
          <h2><b>anon bangsan</b></h2>
        </ion-label>

      </ion-col>
    </ion-item>
    <br>
  </ion-card>

  <ion-item lines="none" button detail="false" color="tertiary" class="ion-margin-bottom" class="ion-padding-vertical">
    <ion-avatar slot="start">
      <img src="assets/imgs/txwithdraw.png" height="30px" width="30px">
    </ion-avatar>
    <ion-label>
      <h2>จำนวนที่ต้องการถอน</h2>
      <ion-text color="danger">
        <h2>20.50 <small>USD</small>
        </h2>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="danger" class="ion-no-margin" expand="full" (click)="onSave()">ยืนยัน
  </ion-button>
</ion-footer>