<ion-header>
  <ion-toolbar>
    <ion-title>เมนูการเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ng-container>
    <ion-card lines="none" class="content-full content-vertical-center ion-no-padding ion-align-items-center"
      color="tertiary">
      <ion-grid class="ion-no-margin ion-no-padding">
        <ion-row class="ion-text-center">
          <ion-col>
            <img class="icon" width="50" height="50" src="assets/imgs/fntransfer.png" />
            <br>
            <ion-label>รับ-โอน</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <div class="ion-float-right ion-text-center">
              <img class="icon ion-text-center" width="50" height="50" src="assets/imgs/fndeposit.png" />
              <br>
              <ion-label>เติมเงิน</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin ion-text-center">
            <div class="financial-circle">
              <ion-label>
                <h2><b class="ion-text-nowrap">Mana Wallet</b></h2>                
                <ion-text color="danger">
                  <h3>THB</h3>
                  <h3>200.00</h3>
                </ion-text>
              </ion-label>
              <img class="icon center ion-no-margin ion-margin-top" width="20" height="20" src="assets/imgs/changewallet.png" />
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-float-left ion-text-center">
              <img class="icon" width="50" height="50" src="assets/imgs/fnwithdraw.png"/>
              <br>
              <ion-label>ถอนเงิน</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col  [routerLink]="'/wallet-main'">
            <div class=" ion-float-right ion-text-center">
              <img class="icon" width="50" height="50" src="assets/imgs/fnwallet.png"/>
              <br>
              <ion-label>กระเป๋า</ion-label>
            </div>
          </ion-col>
          <ion-col size="2"></ion-col>
          <ion-col [routerLink]="'/account-main'">
            <div class="ion-float-left ion-text-center">
              <img class="icon" width="50" height="50" src="assets/imgs/fnaccount.png"/>
              <br>
              <ion-label>จัดการบัญชี</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
</ion-content>