<ion-header>
  <ion-toolbar>
    <ion-title>บัญชีที่ผูกกับมานะ</ion-title>
    <ion-label class="ion-no-padding ion-no-margin ion-text-right">
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" >
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกบัญชีที่ผูกไว้</ion-label>
    </ion-list-header>

    <ion-item button detail="false" color="tertiary" class="ion-margin-bottom" routerLink="/fiat-withdraw-mana-create">
    <ion-avatar slot="start">
      <img src="assets/imgs/PromtPay.png">
    </ion-avatar>
    <ion-label>
      <b>พร้อมเพย์_พร้อมเปย์</b>
      <ion-text color="medium">
        <h3>***236478</h3>
      </ion-text>
    </ion-label>
    <!-- <ion-label class="ion-text-right">
      <ion-text color="medium">
        <h3>&nbsp;</h3>
      </ion-text>
      <h3>700.00 <small> CNY</small>
      </h3>
    </ion-label> -->
  </ion-item>

  <ion-item button detail="false" color="tertiary" class="ion-margin-bottom">
    <ion-avatar slot="start">
      <img src="assets/imgs/kbank.png">
    </ion-avatar>
    <ion-label>
      <b>บัญชีของฉัน</b>
      <ion-text color="medium">
        <h3>****845780</h3>
      </ion-text>
    </ion-label>
    <!-- <ion-label class="ion-text-right">
      <ion-text color="medium">
        <h3>&nbsp;</h3>
      </ion-text>
      <h3>700.00 <small> CNY</small>
      </h3>
    </ion-label> -->
  </ion-item>

  </ion-list>
</ion-content>