<ion-header>
  <ion-toolbar>
    <ion-title>สหกรณ์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="ion-no-padding ion-padding-bottom" mode="md">
    <ion-item color="tertiary">
      <ion-avatar slot="start">
        <img src="assets/imgs/defaultshop.png">      </ion-avatar>
      <ion-label>
        <h2>สหกรณ์ออมทรัพย์</h2>
        <h3>
          <ion-icon name="home" slot="start"></ion-icon> การเงิน
        </h3>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-note>จำนวนผู้ใช้บริการ : 619,734 คน | ความนิยม :
        <ion-icon name="star" color="danger"></ion-icon>
        <ion-icon name="star" color="danger"></ion-icon>
        <ion-icon name="star" color="danger"></ion-icon>
        <ion-icon name="star" color="medium"></ion-icon>
        <ion-icon name="star" color="medium"></ion-icon>| รายละเอียดร้าน
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-card color="tertiary" class="ion-padding">
    <ion-label color="medium">
      <p>สหกรณ์ออมทรัพย์ กรรมการพัฒนาชุมชน จำกัด</p>
      <br>
      <p>ป๊อกอาร์ติสต์ สตรอว์เบอร์รีโบรชัวร์ แจ๊กพ็อตตอกย้ำริกเตอร์ เบิร์น อิเลียดซาตาน เทคโนแพลนสันทนาการ สหัสวรรษสโตร์ เบิร์นวอเตอร์ ไกด์แมคเคอเรลโอเพ่นเวสต์</p>
      <br>
      <p>แทงกั๊กอัลไซเมอร์ล็อบบี้แอ๊บแบ๊ว แคทวอล์คมาร์ตฟอร์ม ซ้อเห่ย มาเฟียเกจิเซนเซอร์บอมบ์ โปรเจกต์เก๋ากี้สิรินทร์กาญจนาภิเษกกรีน ตรวจสอบรอยัลตี้อัลไซเมอร์สแล็ก ไอซียูอ่อนด้อยกุนซือดีลเลอร์ดัมพ์</p>
    </ion-label>
  </ion-card>

  <ion-list class="ion-no-padding ion-margin-top" lines="full">
    <ion-item mode="ios" button color="tertiary" routerLink="/loan-page2">
      <ion-label>
        <h2><b>ขอรับเงินกู้</b></h2>
      </ion-label>
    </ion-item>
    <ion-item mode="ios" button color="tertiary">
      <ion-label>
        <h2><b>รายการค้างชำระ</b></h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>