<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title color="danger">กระเป๋า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="home-header" mode="ios">
  <ion-item lines="none" color="light" class="ion-no-padding">
    <ion-label class="ion-padding-start">เลือกกระเป๋าเงิน</ion-label>
  </ion-item>

</ion-header>

<ion-content color="light" mode="ios">
  <ion-item lines="none" class="ion-no-padding">
    <ion-label class="ion-padding-start">ManaWallet</ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-label>
      <h2><b>ManaWallet</b></h2>
      <h2>fiat: THB</h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-label>
      <h2><b>Mana M+</b></h2>
      <h2>fiat: THB</h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-label>
      <h2><b>Mana Company Budget</b></h2>
      <h2>fiat: THB</h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-label>
      <h2><b>Mana Credit Wallet</b></h2>
      <h2>fiat: THB</h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-no-padding">
    <ion-label class="ion-padding-start">CryptoWallet</ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-label>
      <h2><b>bitcoin</b></h2>
    </ion-label>
  </ion-item>

</ion-content>