<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title color="danger">กระเป๋า</ion-title>
    <ion-button fill="clear" slot="end" color="danger" id="menu-outline">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-header class="home-header" mode="ios">
  <ion-item lines="none" color="light" class="ion-no-padding">
    <ion-label class="ion-padding-start">เลือกกระเป๋าเงิน</ion-label>
  </ion-item>

</ion-header>

<ion-content color="light" mode="ios">
  <ion-item lines="none" class="ion-no-padding">
    <ion-label class="ion-padding-start">ManaWallet</ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-col size="6">
      <ion-label>
        <h2><b>ManaWallet</b></h2>
        <h2>fiat: THB</h2>
      </ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="ion-text-right">
        <h2>บัญชีหลัก</h2>
      </ion-label>
      <ion-label class="ion-text-right">
        <h2><b>50.00THB</b></h2>
      </ion-label>
    </ion-col>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-col size="6">
      <ion-label>
        <h2><b>Mana M+</b></h2>
       </ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="ion-text-right">
        <h2><b>M+</b></h2>
      </ion-label>
      <ion-label class="ion-text-right">
        <h2><b>50.00THB</b></h2>
      </ion-label>
    </ion-col>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-col size="6">
      <ion-label>
        <h2><b>Mana Company Budget</b></h2>
        <h2>fiat: THB</h2>
      </ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="ion-text-right">
        <h2>บัญชีหลัก</h2>
      </ion-label>
      <ion-label class="ion-text-right">
        <h2><b>50.00THB</b></h2>
      </ion-label>
    </ion-col>
  </ion-item>

  
  <ion-item lines="none" color="tertiary" class="ion-padding-top">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-col size="6">
      <ion-label>
        <h2><b>Mana Credit Wallet</b></h2>
        <h2>fiat: THB</h2>
      </ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="ion-text-right">
        <h2>บัญชีหลัก</h2>
      </ion-label>
      <ion-label class="ion-text-right">
        <h2><b>50.00THB</b></h2>
      </ion-label>
    </ion-col>
  </ion-item>



  <ion-item lines="none" class="ion-no-padding">
    <ion-label class="ion-padding-start">CryptoWallet</ion-label>
  </ion-item>

  <ion-item lines="none" color="tertiary" class="ion-padding-top ion-padding-bottom">
    <ion-avatar slot="start" class="avatar-m">
      <img src="assets/imgs/defaultshop.png">
    </ion-avatar>
    <ion-label>
      <h2><b>bitcoin</b></h2>
    </ion-label>
  </ion-item>

</ion-content>