<ion-header class="home-header" mode="ios">
  <ion-item lines="none" color="light" class="ion-no-padding">
    <ion-label class="text-red ion-padding-start"><b>รายการโปรด</b></ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="10"  mode="md">

      <!-- Do not forget implement slideOpts's value in typescript -->
      <ion-slides [options]="slideOpts">

        <ion-slide class="ion-no-margin">
          <ion-item class="ion-text-center ion-no-padding shortcut ion-no-margin" color="light" lines="none" [routerLink]="'/loan-page1'">
            <ion-label class="ion-no-padding ion-no-margin ion-text-center">
              <ion-text>
                <img class="ion-text-center" src="assets/imgs/defaultshop.png">
              </ion-text>
              <h4><small>กู้เงินสหกรณ์</small></h4>
            </ion-label>
          </ion-item>
        </ion-slide>

        <ion-slide class="ion-no-margin">
          <ion-item class="ion-text-center ion-no-padding shortcut ion-no-margin" color="light" lines="none" [routerLink]="'/ev-page1'">
            <ion-label class="ion-no-padding ion-no-margin ion-text-center">
              <ion-text>
                <img class="ion-text-center" src="assets/imgs/defaultshop.png">
              </ion-text>
              <h4><small>ชาร์จ EV</small></h4>
            </ion-label>
          </ion-item>
        </ion-slide>

        <ion-slide class="ion-no-margin">
          <ion-item class="ion-text-center ion-no-padding shortcut ion-no-margin" color="light" lines="none">
            <ion-label class="ion-no-padding ion-no-margin ion-text-center">
              <ion-text>
                <img class="ion-text-center" src="assets/imgs/defaultshop.png">
              </ion-text>
              <h4><small>คูปอง</small></h4>
            </ion-label>
          </ion-item>
        </ion-slide>

      </ion-slides>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content color="tertiary" mode="ios">

  <ion-item-sliding color="danger">
    <ion-item-options side="start">
    </ion-item-options>
    <ion-item button detail="false" color="tertiary" class="ion-no-padding" *ngFor="let item of feeds" (click)="onSelectItem(item)">
      <ion-grid class="ion-no-padding text-hidden">

        <ion-row class="ion-no-padding ion-align-items-center ion-padding-start ion-padding-vertical">
          <ion-col class="ion-no-padding" size="auto" class="ion-text-center">
            <ion-avatar class="avatar-m">
              <img src="assets/imgs/defaultshop.png">
            </ion-avatar>
          </ion-col>

          <ion-col class="ion-padding-start">
            <ion-row>
              <ion-col size="8">
                <ion-label color="dark">
                  <h2><b>{{ item.title }}</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="4">
                <div class="ion-text-right">
                  <ion-label color="medium">
                    <h3>
                      <img width="12" src="assets/imgs/timered.png">
                      24.00
                    </h3>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-label color="medium">
                  <h3>{{ item.description }}</h3>
                </ion-label>
              </ion-col>

            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-item-sliding>

  <ion-item-sliding color="danger">
    <ion-item button color="tertiary" class="ion-no-padding" routerLink="/ba-product-list">
        <ion-grid class="ion-no-padding text-hidden">
            <ion-row class="ion-no-padding ion-align-items-center ion-padding-start ion-padding-vertical">
                <ion-col class="ion-no-padding" size="auto" class="ion-text-center">
                    <ion-avatar class="avatar-m">
                        <img src="assets/imgs/defaultshop.png">
                    </ion-avatar>
                </ion-col>
                <ion-col class="ion-padding-start">
                    <ion-row>
                        <ion-col size="8">
                            <ion-label color="dark">
                                <h2><b>สหกรณ์ออมทรัพย์</b></h2>
                            </ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <div class="ion-text-right">
                                <ion-label color="medium">
                                    <h3><img width="12" src="assets/imgs/timered.png"> 22 hr</h3>
                                </ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="8">
                            <ion-label color="medium">
                                <h3>บิลหนี้ค้างชำระ</h3>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-item-sliding>
<ion-item-sliding color="danger">
    <ion-item button color="tertiary" class="ion-no-padding" routerLink="/ba-product-list/true">
        <ion-grid class="ion-no-padding text-hidden">
            <ion-row class="ion-no-padding ion-align-items-center ion-padding-start ion-padding-vertical">
                <ion-col class="ion-no-padding" size="auto" class="ion-text-center">
                    <ion-avatar class="avatar-m">
                        <img src="assets/imgs/defaultshop.png">
                    </ion-avatar>
                </ion-col>
                <ion-col class="ion-padding-start">
                    <ion-row>
                        <ion-col size="8">
                            <ion-label color="dark">
                                <h2><b>สหกรณ์ออมทรัพย์</b></h2>
                            </ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <div class="ion-text-right">
                                <ion-label color="medium">
                                    <h3><img width="12" src="assets/imgs/timered.png"> 22 hr</h3>
                                </ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="8">
                            <ion-label color="medium">
                                <h3>บิลหนี้ค้างชำระ</h3>
                            </ion-label>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label color="danger">
                                <h3 class="ion-text-right">ชำระช้ากว่ากำหนด</h3>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-item-sliding>

  <ion-list lines="full" class="ion-no-padding">

    <!--TODO : เงื่่อน ชาร์จ EV จะต้องมี dlg ได้รับเงินคืนด้วย (Escrow) -->
    <ion-item-sliding routerLink="/ev-homefeed-refund-detail" color="danger">
      <ion-item button color="tertiary" class="ion-no-padding">
        <ion-grid class="ion-no-padding text-hidden">

          <ion-row class="ion-no-padding ion-align-items-center ion-padding-start ion-padding-vertical">
            <ion-col class="ion-no-padding" size="auto" class="ion-text-center">
              <ion-avatar class="avatar-m">
                <img src="assets/imgs/defaultshop.png">
              </ion-avatar>
            </ion-col>

            <ion-col class="ion-padding-start">
              <ion-row>
                <ion-col size="8">
                  <ion-label color="dark">
                    <h2><b>ช. ทวี</b></h2>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-text-right">
                    <ion-label color="medium">
                      <h3><img width="12" src="assets/imgs/timered.png"> 22 hr</h3>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-label color="medium">
                    <h3>ได้เงินคืนจากการชาร์จ EV คืน</h3>
                  </ion-label>
                </ion-col>             
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-item-sliding>

    <!--TODO : เงื่่อน ชาร์จ EV -->
    <ion-item-sliding color="danger">
      <ion-item button color="tertiary" class="ion-no-padding" routerLink="/ev-page5">
        <ion-grid class="ion-no-padding text-hidden">

          <ion-row class="ion-no-padding ion-align-items-center ion-padding-start ion-padding-vertical">
            <ion-col class="ion-no-padding" size="auto" class="ion-text-center">
              <ion-avatar class="avatar-m">
                <img src="assets/imgs/defaultshop.png">
              </ion-avatar>
            </ion-col>

            <ion-col class="ion-padding-start">
              <ion-row>
                <ion-col size="8">
                  <ion-label color="dark">
                    <h2><b>ช. ทวี</b></h2>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-text-right">
                    <ion-label color="medium">
                      <h3><img width="12" src="assets/imgs/timered.png"> 22 hr</h3>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-label color="medium">
                    <h3>จ่ายเงินสำเร็จ</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label color="danger">
                    <h3 class="ion-text-right">กำลังชาร์จ EV</h3>
                  </ion-label>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-item-sliding>

    <ion-item-sliding color="danger">
      <ion-item button color="tertiary" class="ion-no-padding">
        <ion-grid class="ion-no-padding text-hidden">

          <ion-row class="ion-no-padding ion-align-items-center ion-padding-start ion-padding-vertical">
            <ion-col class="ion-no-padding" size="auto" class="ion-text-center">
              <ion-avatar class="avatar-m">
                <img src="assets/imgs/defaultshop.png">
              </ion-avatar>
            </ion-col>

            <ion-col class="ion-padding-start">
              <ion-row>
                <ion-col size="8">
                  <ion-label color="dark">
                    <h2><b>GribFood</b></h2>
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-text-right">
                    <ion-label color="medium">
                      <h3><img width="12" src="assets/imgs/timered.png"> 22 hr</h3>
                    </ion-label>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-label color="medium">
                    <h3>เข้าร่วมงานเป็นไรเดอร์กับ GribFood</h3>
                  </ion-label>
                </ion-col>          
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit" [routerLink]="'/one-prototype-finanace-menu'">finance Menu</ion-button>
</ion-footer>