<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลสัญญา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="tertiary" class="ion-padding">
    <ion-item color="tertiary" lines="none" class="ion-no-padding">
      <ion-label>รายละเอียด</ion-label>
      <ion-label slot="end">เลขที่สัญญา: {{ loanContractId }}</ion-label>
    </ion-item>

    <ion-label color="medium">
      <p>ป๊อกอาร์ติสต์ สตรอว์เบอร์รีโบรชัวร์ แจ๊กพ็อตตอกย้ำริกเตอร์ เบิร์น อิเลียดซาตาน เทคโนแพลนสันทนาการ สหัสวรรษสโตร์ เบิร์นวอเตอร์ ไกด์แมคเคอเรลโอเพ่นเวสต์</p>
      <br>
      <p>แทงกั๊กอัลไซเมอร์ล็อบบี้แอ๊บแบ๊ว แคทวอล์คมาร์ตฟอร์ม ซ้อเห่ย มาเฟียเกจิเซนเซอร์บอมบ์ โปรเจกต์เก๋ากี้สิรินทร์กาญจนาภิเษกกรีน ตรวจสอบรอยัลตี้อัลไซเมอร์สแล็ก ไอซียูอ่อนด้อยกุนซือดีลเลอร์ดัมพ์</p>
    </ion-label>
  </ion-card>
  
  <ion-card color="tertiary" class="ion-padding">
    <ion-item color="tertiary" lines="none" class="ion-no-padding">
      <ion-label>ยอดเงินที่ต้องส่ง</ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label class="ion-padding-start">2,000.00 <small>THB</small></ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="tertiary" class="ion-padding">
    <ion-item color="tertiary" lines="none" class="ion-no-padding">
      <ion-label>สถานะ</ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label class="ion-padding-start">อนุมัติ</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>