<ion-content>
  <ion-card color="tertiary" class="ion-text-center ion-padding-top">
    <ion-avatar color="tertiary" class="avatar-l center ion-margin-top ion-margin-bottom">
      <img src="assets/imgs/logo.jpg" />
    </ion-avatar>
    <ion-label>
      <h2><b>เดี๋ยวก็ละลาย</b></h2>
    </ion-label>
    <br>
  </ion-card>

  <ion-card>
    &nbsp;
  </ion-card>

  <ion-card color="tertiary" class="ion-text-left ion-padding-top">
    <ion-item lines="none" color="tertiary">
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
        <ion-label class="ion-padding-start" color="primary"><b>จ่ายค่าสมัครสมาชิกร้าน</b>
        </ion-label>      
    </ion-item>
    <ion-row>
        <ion-col size="2">
          
        </ion-col>
        <ion-col size="10">
          
          <div >
            <p class="ion-no-margin" slot="start">
              <ion-text color="danger">สถานะ: ชำระเงินค่าสมัครสมาชิกเรียบร้อยแล้ว</ion-text>
            </p>
          </div>
        </ion-col>
      
    </ion-row>

    <ion-item lines="none" color="tertiary">
      <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      <ion-label class="ion-padding-start" color="primary"><b>ยืนยันการเป็นสมาชิกร้าน</b>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col size="2">    
      </ion-col>
      <ion-col size="10">
        
        <div >
          <p class="ion-no-margin" slot="start">
            <ion-text color="danger">สถานะ: ยืนยันการเป็นสมาชิกแล้ว</ion-text>
          </p>
        </div>
      </ion-col>
    
  </ion-row>


    <br>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" (click)="gotoPage()">ถัดไป
  </ion-button>
</ion-footer>
