<ion-header>
  <ion-toolbar>
    <ion-title>กระเป๋าเงิน Crypto</ion-title>
    <ion-label class="ion-no-padding ion-no-margin ion-text-right">
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" >
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกกระเป๋า Crypto</ion-label>
    </ion-list-header>

    <ion-item button detail="false" color="tertiary" class="ion-margin-bottom">
    <ion-avatar slot="start">
      <img src="assets/imgs/ETH.PNG">
    </ion-avatar>
    <ion-label>
      <b>Crypto_Ethereum</b>
      <ion-text color="medium">
        <h3>Eterium Mana Wallet</h3>
      </ion-text>
    </ion-label>
    <ion-label class="ion-text-right">
      <ion-text color="medium">
        <h3>&nbsp;</h3>
      </ion-text>
      <h3>0.8500021 <small> ETH</small>
      </h3>
    </ion-label>
  </ion-item>

  <ion-item button detail="false" color="tertiary" class="ion-margin-bottom">
    <ion-avatar slot="start">
      <img src="assets/imgs/BTC.PNG"/>
    </ion-avatar>
    <ion-label>
      <b>Crypto_Bitcoin</b>
      <ion-text color="medium">
        <h3>Bitcoin Mana Wallet</h3>
      </ion-text>
    </ion-label>
    <ion-label class="ion-text-right">
      <ion-text color="medium">
        <h3>&nbsp;</h3>
      </ion-text>
      <h3>1.0004567890123 <small> BTC</small>
      </h3>
    </ion-label>
  </ion-item>

  <ion-item button detail="false" color="tertiary" class="ion-margin-bottom">
    <ion-avatar slot="start">
      <img src="assets/imgs/USDT.PNG"/>
    </ion-avatar>
    <ion-label>
      <b>Crypto_USDT</b>
      <ion-text color="medium">
        <h3>USDT Mana Wallet</h3>
      </ion-text>
    </ion-label>
    <ion-label class="ion-text-right">
      <ion-text color="medium">
        <h3>&nbsp;</h3>
      </ion-text>
      <h3>0.12345678901234567 <small> USDT</small>
      </h3>
    </ion-label>
  </ion-item>

  </ion-list>
</ion-content>
