<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันบัญชีนี้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container>
    <ion-item color="tertiary" class="ion-margin-bottom" lines="none">
      <ion-label>
        <h3>กระเป๋าที่เติมเข้า</h3>
        <h2>
          <b>Mana WalletX</b>
        </h2>
      </ion-label>
    </ion-item>

    <ion-list>
      <ion-item color="tertiary">
        <ion-label>
          <h3>บัญชีที่ใช้เติม</h3>
          <h2>
            <b>0911234567</b>
          </h2>
          <h2>
            <b>PropmPay</b>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h3>ชื่อบัญชี</h3>
          <h2>
            <b>นายอานนท์ บางสาน</b>
          </h2>
          <h2>
            <b>Mr.ARNON BANGSAN</b>
          </h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item color="tertiary" lines="none" class="ion-margin-top">
      <ion-avatar class="avatar-m non-circle" slot="start"><img class="non-circle" src="assets/imgs/icontopup.png">
      </ion-avatar>
      <ion-label class="ion-padding">
        <h2>จำนวนที่ต้องการเติม</h2>
        <ion-text color="danger">
          <h1><b>100<small> THB</small></b></h1>
        </ion-text>
      </ion-label>
    </ion-item>

  </ng-container>
</ion-content>
<ion-footer>
  <ion-button color="danger" class="ion-no-margin" expand="full" (click)="gotoPage()">ตกลง</ion-button>
</ion-footer>