<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="tertiary" lines="full" class="ion-padding-vertical">
    <ion-col class="ion-no-padding">
      <ion-label color="medium">
        <h2 class="line-height2">กระเป๋าที่เติมเข้า</h2>
      </ion-label>
      <ion-label>
        <b>กระเป๋า <small>USD </small></b>
      </ion-label>
    </ion-col>
  </ion-item>

  <ion-item lines="none" button detail="false" color="tertiary" class="ion-margin-bottom">
    <div slot="start">
      <img src="assets/imgs/walletgray.png" height="30px" width="30px">
    </div>
    <ion-label>
      <h2>จำนวนที่ต้องการเติม</h2>
      <ion-text color="danger">
        <h2>1005.00 <small> THB</small>
        </h2>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="danger" class="ion-no-margin" expand="full" routerLink="/fiat-topup-qr-create-success">ยืนยัน
  </ion-button>
</ion-footer>
