<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="tertiary" lines="full" class="ion-padding-vertical">
    <ion-col class="ion-no-padding">
      <ion-label color="medium">
        <h3 class="line-height2">กระเป๋าที่เติมเข้า</h3>
      </ion-label>
      <ion-label>
        <b>กระเป๋า <small>USD </small></b>
      </ion-label>
    </ion-col>
  </ion-item>

  <ion-item lines="none" button detail="false" color="tertiary" class="ion-margin-bottom">
    <ion-avatar slot="start">
      <img src="assets/imgs/walletgray.png">
    </ion-avatar>
    <ion-label>
      <h3>จำนวนที่ต้องการเติม</h3>
      <ion-text color="danger">
        <h3>1005.00 <small> THB</small>
        </h3>
      </ion-text>
    </ion-label>
    <ion-label class="ion-text-right">
      <ion-text color="medium">
        <h3>&nbsp;</h3>
      </ion-text>
    </ion-label>
  </ion-item>

</ion-content>
