<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลสัญญา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (click)="onDebugClick()">
  
  <ion-card color="tertiary" class="ion-padding">
    <ion-item color="tertiary" lines="none" class="ion-no-padding">
      <ion-label>ช่องทางติดต่อ</ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label class="ion-padding-start">Line</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-card color="tertiary" class="ion-padding">
    <ion-item color="tertiary" lines="none" class="ion-no-padding">
      <ion-label>เวลานัดหมาย</ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label class="ion-padding-start">วัน 19 มิถุนายน 2565 17.00 น.</ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="tertiary" class="ion-padding">
    <ion-item color="tertiary" lines="none" class="ion-no-padding">
      <ion-label>สถานะ</ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label class="ion-padding-start">รอนัดหมาย</ion-label>
    </ion-item>
  </ion-card>
  
</ion-content>